/*
    -----------------------------------------
    -----------------------------------------
                RESET
    -----------------------------------------
    -----------------------------------------
*/
html,
body,
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  transition: transform 800ms ease; }

/*
    -----------------------------------------
    -----------------------------------------
                FONTS
    -----------------------------------------
    -----------------------------------------
*/
body {
  font-family: 'Lato', sans-serif;
  font-family: 'Lato', sans-serif;
  color: #333; }

/*
    -----------------------------------------
    -----------------------------------------
                COLORS
    -----------------------------------------
    -----------------------------------------
*/
body {
  background: #71c7ec;
  background: -webkit-linear-gradient(#71c7ec, #2f80ed);
  background: -o-linear-gradient(#71c7ec, #2f80ed);
  background: linear-gradient(#71c7ec, #2f80ed); }

.intro,
.footer {
  color: #fff; }

.intro,
.intro__icon:nth-child(even) {
  color: #005073; }

.intro__text--l2 {
  color: #000; }

.intro__text--l2 {
  color: #940000; }

.intro__icon:nth-child(odd) {
  color: #000; }

project {
  background-color: #f5f5f5; }

.project__img {
  background: #f5f5f5; }

.project__img,
.blog__content,
.about--section {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px; }

/* .blog__content,
.about--section {
    box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.2);
} */
.blog__content {
  background-color: #14a098; }

.blog__content:hover {
  cursor: pointer;
  transform: translate(-2px, -2px);
  transition: .2s ease-in-out; }

.about--section {
  background-color: #333;
  color: #fff; }

.about__header {
  background-color: #DC0058; }

.skills {
  background: #FFE0E1; }

/*
    -----------------------------------------
    -----------------------------------------
                ICONS
    -----------------------------------------
    -----------------------------------------
*/
.contacts,
.linkedin {
  max-width: 2em; }

/*
    -----------------------------------------
    -----------------------------------------
                LINKS
    -----------------------------------------
    -----------------------------------------
*/
a {
  text-decoration: none; }

.navbar--list__item {
  color: #9e1919;
  color: #a93232; }

a:hover {
  cursor: pointer; }

.fa:hover {
  transform: scale(1.5);
  transition: .2s ease-in-out; }

.navbar--list__item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: .3s ease-in-out 0s; }

.navbar--list__item:hover:before {
  visibility: visible;
  transform: scaleX(1); }

/*
    -----------------------------------------
    -----------------------------------------
                ANIMATIONS
    -----------------------------------------
    -----------------------------------------
*/
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-delay: .7s; }

/*
    -----------------------------------------
    -----------------------------------------
                LAYOUT
    -----------------------------------------
    -----------------------------------------
*/
/*
   --------------- INTRO
*/
.intro {
  display: flex;
  flex-direction: column;
  height: 100vh; }

.intro--container {
  display: flex;
  flex-direction: column;
  margin: auto; }

.intro__text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 3em; }

.intro__text--l1,
.intro__text--l2,
.intro__text--l3 {
  margin-top: 0;
  line-height: .8; }

.intro__icons {
  display: flex;
  justify-content: center;
  margin-top: 2em; }

.intro__icon:not(:last-of-type) {
  margin-right: .8em; }

n
.navbar {
  display: inline-block; }

.navbar--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  margin-top: 5em; }

.navbar--list__item {
  display: inline;
  line-height: 2em;
  position: relative;
  font-size: 1.5em;
  padding: 0;
  font-weight: 600; }

.content--about__text,
.footer--content__text {
  font-family: 'Bree Serif', serif; }

/*
    -------------- MAIN SECTION
*/
.about__header {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2); }

.section {
  margin: 1em 0; }

.section__header {
  font-size: 2.5em;
  font-weight: 900;
  text-transform: uppercase; }

/*
    __PROJECTS
*/
.projects {
  display: flex;
  flex-direction: column;
  margin-top: 0; }

.projects--header {
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em; }

.project--link {
  text-decoration: none;
  color: #333; }

.project {
  overflow: hidden;
  transition: 0.5s ease; }

.project__img {
  width: 100%; }

.project:hover,
.blog__content:hover {
  transform: scale(1.02); }

/*
    __BLOG
*/
.blog__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em; }

.blog__text {
  margin: 1em 0;
  font-weight: 400;
  font-size: .9em;
  line-height: 1.3;
  letter-spacing: .1px;
  color: #fff;
  text-align: center; }

.blog__logo {
  max-width: 100%; }

.about__main--container {
  display: flex;
  flex-direction: column; }

.about__header {
  font-size: 2.2em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  padding: .8em; }

.about__pic {
  overflow: hidden;
  max-width: 60%;
  align-self: center;
  margin: 2em 0;
  border-radius: 5em; }

.about__text--container {
  font-size: 1.2em; }

.about__text__p {
  margin-bottom: 1em; }

.about__text__p:last-of-type {
  margin-bottom: 0; }

.about__devicons {
  margin: 2em .4em; }

.devicons__icon {
  margin-top: 2em;
  margin: 1.5em .9em;
  width: 3em; }

/*
   ------------------- FOOTER
*/
.copyright {
  font-size: 1em;
  margin: 1em 0;
  text-align: center; }

/*
    -----------------------------------------
    -----------------------------------------
                MEDIA QUERIES
    -----------------------------------------
    -----------------------------------------
*/
@media screen and (min-width: 350px) {
  .intro__text {
    font-size: 3.5em; }
  .blog__content {
    max-width: 100%; }
  .blog__logo {
    max-width: 18em;
    margin: 0 auto; }
  .about__text--container {
    text-align: justify;
    margin: 1.2em 1.5em; }
  .devicons__icon {
    margin: 1.5em 1.1em; } }

@media screen and (min-width: 380px) {
  .about__devicons {
    margin: 2em .4em; }
  .devicons__icon {
    margin: 1.5em 1.5em; } }

@media screen and (min-width: 400px) {
  .section {
    margin: 2em 0; }
  .about__header {
    font-size: 3em; }
  .devicons__icon {
    margin: 1.5em 1.8em; } }

@media screen and (min-width: 450px) {
  .intro__text {
    font-size: 4em; }
  .section {
    margin: 3em 0; }
  .blog__content {
    padding: 4em 0; }
  .blog__header {
    font-size: 2.8em; }
  .devicons__icon {
    margin: 1.5em 2.3em; } }

@media screen and (min-width: 470px) {
  .devicons__icon {
    margin: 1.5em 2.5em; } }

@media screen and (min-width: 500px) {
  .intro__text {
    font-size: 4.5em; }
  .devicons__icon {
    margin: 1.5em 2.8em; } }

@media screen and (min-width: 550px) {
  .blog__content,
  .about__content {
    padding: 10em; }
  .blog__content {
    padding: 5em 0; }
  .about__devicons {
    margin: 2em auto;
    max-width: 600px; }
  .devicons__icon {
    margin: 1.5em 3.9em; } }

@media screen and (min-width: 600px) {
  .section {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2em auto; }
  .project--list {
    display: flex;
    justify-content: center; }
  .projects,
  .blog--section {
    height: 100vh; }
  .blog--section {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .blog__content {
    vertical-align: middle; }
  .blog__text {
    font-size: 1.2em; } }
