/*
    -----------------------------------------
    -----------------------------------------
                RESET
    -----------------------------------------
    -----------------------------------------
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform 800ms ease;
    transition: -webkit-transform 800ms ease;
    transition: transform 800ms ease;
    transition: transform 800ms ease, -webkit-transform 800ms ease;
}


ul {
    list-style: inside;
}


/*
    -----------------------------------------
    -----------------------------------------
                FONTS
    -----------------------------------------
    -----------------------------------------
*/

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lato', sans-serif;
    color: #333;
}

/*
    -----------------------------------------
    -----------------------------------------
                COLORS
    -----------------------------------------
    -----------------------------------------
*/

body {
    background: #71c7ec;
    background: -webkit-gradient(linear, left top, left bottom, from(#71c7ec), to(#2f80ed));
    background: linear-gradient(#71c7ec, #2f80ed);
}

.intro,
.footer {
    color: #fff;
}

.intro,
.intro__icon:nth-child(even) {
    color: #005073;
}

.intro__text--l2 {
    color: #000;
}

.intro__text--l2 {
    color: #940000;
}

.intro__icon:nth-child(odd) {
    color: #000;
}

project {
    background-color: #f5f5f5;
}

.project__img {
    background: #f5f5f5;
}

.project,
.blog__content,
.about--section {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.project {
    -webkit-box-shadow: 0 4px 6px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.2);

}

/* .blog__content,
.about--section {
    box-shadow: 5px 8px 12px 0 rgba(0, 0, 0, 0.2);
} */

.blog__content {
    background-color: #14a098;
}

.blog__content:hover {
    cursor: pointer;
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.about--section {
    background-color: #333;
    color: #fff;
}

.about__header {
    background-color: #DC0058;
}

.skills {
    background: #FFE0E1;
}

/*
    -----------------------------------------
    -----------------------------------------
                ICONS
    -----------------------------------------
    -----------------------------------------
*/

.contacts,
.linkedin {
    max-width: 2em;
}

/*
    -----------------------------------------
    -----------------------------------------
                LINKS
    -----------------------------------------
    -----------------------------------------
*/

a,
a:active,
a:visited,
a:focus,
a:hover {
    text-decoration: none;
    color: #005073;
}

.navbar--list__item {
    color: #9e1919;
    color: #a93232;
}

a:hover {
    cursor: pointer;
}

.fa:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.navbar--list__item:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: .3s ease-in-out 0s;
    transition: .3s ease-in-out 0s;
}

.navbar--list__item:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/*
    -----------------------------------------
    -----------------------------------------
                ANIMATIONS
    -----------------------------------------
    -----------------------------------------
*/

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
}

/*
    -----------------------------------------
    -----------------------------------------
                LAYOUT
    -----------------------------------------
    -----------------------------------------
*/

/*
   --------------- INTRO
*/

.intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
}

.intro--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
}

.intro__text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
}

.intro__text:hover {
    cursor: pointer;
}

.intro__text--l1,
.intro__text--l2,
.intro__text--l3 {
    margin-top: 0;
    line-height: .8;
}

.intro__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2em;
    list-style-type: none;
}

.intro__icon:not(:last-of-type) {
    margin-right: .8em;
}

.navbar {
    display: inline-block;
}

.navbar--list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding: 0;
    margin-top: 5em;
}

.navbar--list__item {
    display: inline;
    line-height: 2em;
    position: relative;
    font-size: 1.5em;
    padding: 0;
    font-weight: 600;
}

.content--about__text,
.footer--content__text {
    font-family: 'Bree Serif', serif;
}

/*
    -------------- MAIN SECTION
*/

.about__header {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.section {
    margin: 1em 0;
    opacity: 0;
}

.show {
    opacity: 1;
    -webkit-transition: 1s ease-out;
    transition: 1s ease-out;
}

.section__header {
    font-size: 2.5em;
    font-weight: 900;
    text-transform: uppercase;
}

/*
    __PROJECTS
*/

.projects {
    margin-top: 0;
}

.projects--header {
    text-align: center;
    font-size: 3em;
    margin-bottom: .5em;
}

.projects--list {
    display: flex;
    justify-content: center;
}

.project--link {
    text-decoration: none;
    color: #333;
}

.project {
    overflow: hidden;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    width: 500px;
}

.project__img {
    max-width: 100%;
    background-color: #1B4093;
    background-color: #005073;
    padding: 1em;
}

.project:hover,
.blog__content:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.project--udacity-wall {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.project__list {}

.project__text {
    background-color: #f5f5f5;
    padding: 2em;
}

.project__title {
    font-size: 1.5em;
}

.project__description {
    margin: 0.5em 0;
}

.project__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1em;
}

.project__btn {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    border-radius: 2px;
}

.project__btn:hover {
    cursor: pointer -webkit-transition: 1s ease-in;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.project__visit:hover {
    background-color: #005073;
    color: #71c7ec;
}

.project__source-code:hover {
    background-color: #333;
    color: #f5f5f5;
}

/*
.project__title,
.project__btn {
    text-align: center;
}
*/

/*
    __BLOG
*/

.blog__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2em;
}

.blog__text {
    margin: 1em 0;
    font-weight: 400;
    font-size: .9em;
    line-height: 1.3;
    letter-spacing: .1px;
    color: #fff;
    text-align: center;
}

.blog__logo {
    max-width: 100%;
}

.about__main--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.about__header {
    font-size: 2.2em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    padding: .8em;
}

.about__pic {
    overflow: hidden;
    max-width: 60%;
    -ms-flex-item-align: center;
    align-self: center;
    margin: 2em 0;
    border-radius: 5em;
}

.about__text--container {
    font-size: 1.2em;
}

.about__text__p {
    margin-bottom: 1em;
}

.about__text__p:last-of-type {
    margin-bottom: 0;
}

.about__devicons {
    margin: 2em .4em;
}

.devicons__icon {
    margin-top: 2em;
    margin: 1.5em .9em;
    width: 3em;
}

/*
   ------------------- FOOTER
*/

.copyright {
    font-size: 1em;
    margin: 1em 0;
    text-align: center;
}

/*
    -----------------------------------------
    -----------------------------------------
                MEDIA QUERIES
    -----------------------------------------
    -----------------------------------------
*/

@media screen and (min-width: 350px) {
    .intro__text {
        font-size: 3.5em;
    }
    .project__btn {
        font-size: 1.2em;
    }
    .blog__content {
        max-width: 100%;
    }
    .blog__logo {
        max-width: 18em;
        margin: 0 auto;
    }
    .about__text--container {
        text-align: justify;
        margin: 1.2em 1.5em;
    }
    .devicons__icon {
        margin: 1.5em 1.1em;
    }
}

@media screen and (min-width: 380px) {
    .about__devicons {
        margin: 2em .4em;
    }
    .devicons__icon {
        margin: 1.5em 1.5em;
    }
}

@media screen and (min-width: 400px) {
    .section {
        margin: 2em 0;
    }
    .about__header {
        font-size: 3em;
    }
    .devicons__icon {
        margin: 1.5em 1.8em;
    }
}

@media screen and (min-width: 450px) {
    .intro__text {
        font-size: 4em;
    }
    .section {
        margin: 3em 0;
    }
    .blog__content {
        padding: 4em 0;
    }
    .blog__header {
        font-size: 2.8em;
    }
    .devicons__icon {
        margin: 1.5em 2.3em;
    }
}

@media screen and (min-width: 470px) {
    .devicons__icon {
        margin: 1.5em 2.5em;
    }
}

@media screen and (min-width: 500px) {
    .intro__text {
        font-size: 4.5em;
    }
    .devicons__icon {
        margin: 1.5em 2.8em;
    }
}

@media screen and (min-width: 550px) {
    .blog__content,
    .about__content {
        padding: 10em;
    }
    .blog__content {
        padding: 5em 0;
    }
    .about__devicons {
        margin: 2em auto;
        max-width: 600px;
    }
    .devicons__icon {
        margin: 1.5em 3.9em;
    }
}

@media screen and (min-width: 600px) {
    .section {
        max-width: 600px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 2em auto;
    }
    .project--list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .blog--section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .blog__content {
        vertical-align: middle;
    }
    .blog__text {
        font-size: 1.2em;
    }
}
