/*
    -----------------------------------------
    -----------------------------------------
                RESET
    -----------------------------------------
    -----------------------------------------
*/

html,
body,
* {
    margin: 0;
    padding: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.page-wrapper {
    /*
    font-family: 'Roboto', sans-serif;
    font-family: 'Bree Serif', serif;
    */
}


/*
    -----------------------------------------
    -----------------------------------------
                FONTS
    -----------------------------------------
    -----------------------------------------
*/
body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}
.intro,
.content--about__text,
.footer--content__text {
    font-family: 'Bree Serif', serif;
}


/*
    -----------------------------------------
    -----------------------------------------
                ICONS
    -----------------------------------------
    -----------------------------------------
*/
.intro,
.footer {
    color: #fff;
}
.footer {
    background: #333;
}
.blog {
    background: #f5f5f5;
}


/*
    -----------------------------------------
    -----------------------------------------
                ICONS
    -----------------------------------------
    -----------------------------------------
*/
.contacts,
.linkedin {
    max-width: 2em;
}


/*
    -----------------------------------------
    -----------------------------------------
                LAYOUT
    -----------------------------------------
    -----------------------------------------
*/
.collapsible__content {
    padding: 4em 0;
}
.collapsible__title,
.footer--content__title {
    text-decoration: none;
    font-size: 4.5em;
    font-weight: 900;
    padding-right: 0;
}
.collapsible__title,
.footer--content__title {
    padding: .3em;
}

/*
    Intro
*/
.intro {
    background-color: #EA5050;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}
.intro__text {
    font-size: 3em;
    margin: auto;
    text-align: center;
    //border: 1px solid black;
}
.intro__arrow {
    margin: 0 auto 1em auto;
}

/*
    Main secion
*/
.footer{
    padding: .2em 0;
}
#s {
    background-color: #EEC0B5;
}
#a {
    background-color: #B6D5B3;
}

/*
    PROJECTS
*/
.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.project {
    max-width: 100%;
}

/*
    SKILLS
*/
.devicons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em .5em;
}
.devicons__row {
    display: flex;
    justify-content: center;
    padding: 0 2em;
}
.devicons__icon {
    width: 6em;
}

/*
    BLOG
*/
.blog--link {
    text-decoration: none;
    color: #333;
}

/*
    ABOUT
*/
.content--about {
}
.content--about__text {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    text-align: justify;
    margin: 0 1em;
}


/*
    FOOTER
*/
.footer--content__text {
    font-size: 2em;
    margin: 1em .5em;
}
.footer--content__icons {
    display: flex;
    justify-content: space-around;
    margin: .5em 1em;
    font-size: 3em;
}


/*
    -----------------------------------------
    -----------------------------------------
            COLLAPSIBLE ANIMATION
            
            see more at https://www.w3schools.com/howto/howto_js_collapsible.asp
    -----------------------------------------
    -----------------------------------------
*/
/* 
 * add style to collapsible titles when clicked
 * add .active class with JS
*/

.active,
.collapsible__title:hover{
    background-color: #333;
    color: #fff;
}

/* Hide collapsible content: to show with JS*/
.collapsible__content {
    display: none;
    overflow: hidden;
}




















