/*
    -----------------------------------------
    -----------------------------------------
                RESET
    -----------------------------------------
    -----------------------------------------
*/
html,
body,
* {
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/*
    -----------------------------------------
    -----------------------------------------
                FONTS
    -----------------------------------------
    -----------------------------------------
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #333; }

.intro,
.content--about__text,
.footer--content__text {
  font-family: 'Bree Serif', serif; }

/*
    -----------------------------------------
    -----------------------------------------
                COLORS
    -----------------------------------------
    -----------------------------------------
*/
.intro,
.footer {
  color: #fff; }

.intro {
  background-color: #EA5050; }

.blog {
  background: #cde2df; }

.skills {
  background: #FFE0E1; }

.about {
  background-color: #f8edbc; }

.footer {
  background: #333; }

/*
    -----------------------------------------
    -----------------------------------------
                ICONS
    -----------------------------------------
    -----------------------------------------
*/
.contacts,
.linkedin {
  max-width: 2em; }

/*
    -----------------------------------------
    -----------------------------------------
                LAYOUT
    -----------------------------------------
    -----------------------------------------
*/
.container--main {
  margin-top: 2em; }

.collapsible__title,
.footer--content__title {
  text-decoration: none;
  font-size: 3em;
  font-weight: 900;
  padding-right: 0; }

.collapsible__title,
.footer--content__title {
  padding: 0.3em; }

/*
    Intro
*/
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh; }

.intro__text {
  font-size: 3em;
  margin: auto;
  text-align: center; }

.intro__arrow {
  margin: .5em auto 1em auto; }

/*
    MAIN SECTION
*/
.footer {
  padding: .2em 0; }

/*
    MAIN SECTION__PROJECTS
*/
.projects {
  display: flex;
  flex-direction: column; }

.project {
  overflow: hidden;
  margin: 1em .5em; }

.project--link {
  text-decoration: none;
  color: #333;
  padding: 1em; }

.project__img {
  width: 100%;
  transition: 0.5s ease; }

.project__img:hover {
  filter: brightness(40%);
  transform: scale(1.1); }

/*
    SKILLS
*/
.devicons__rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5em; }

.devicons__rows__row {
  display: flex;
  padding: 0 2em; }

.devicons__icon {
  width: 6em; }

/*
    BLOG
*/
.blog--link {
  text-decoration: none;
  color: #333; }

/*
    ABOUT
*/
.content--about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.me-container {
  width: auto;
  margin: 1em auto 0 auto; }

.me {
  max-width: 100%; }

.content--about__text {
  font-size: 1.5em;
  margin: 2em 1em;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.2; }

.content--about__text > p {
  margin-bottom: 1em; }

/*
    FOOTER
*/
.footer--content__text {
  font-size: 2em;
  margin: 1em .5em; }

.footer--content__icons {
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-bottom: 1em; }

.icon {
  margin-right: .5em; }

/*
    COLLAPSIBLE EFFECT
*/
/* .active {
    background: #333;
    color: #fff;
}
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
 */
/*
    -----------------------------------------
    -----------------------------------------
                MEDIA QUERIES
    -----------------------------------------
    -----------------------------------------
*/
@media screen and (min-width: 600px) {
  .container {
    max-width: 750px;
    margin: 0 auto; }
  .intro {
    width: 100vw; } }
